*{
    margin: auto;
    padding: 0;
}
body{
    margin: auto;
    padding: auto;
    background-color: bisque;
}
header{
    width: auto;
    height: 70px;
    background-color: cornflowerblue;
}
nav{
    width: 400px;
    height: 30px;
    border:1px solid #777;
}
nav ul{
    display: inline-block;
}
nav ul li{
    color:black;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    text-align: center;
}
h1{
    color:aquamarine;
    font-size: 23px;
    text-shadow: 2px 3px 2px #777;
    text-align: center;
}
.liscon{
    color:brown;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 8px;
}
#contenido{
    width: auto;
    height: 140px;
    background: rgb(188, 206, 171);
}
#pemc{
    width: auto;
    height: 200px;
    background: #777;
}
section{
    width: 880px;
    height: 140px;
    border:1px solid #000;
    border-radius: 10px;
}
article{
    width: 100px;
    height: 100px;
    border: 1px solid #234;
    float:z-index;
}
article p{
    color:#897;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}
footer{
    width: auto;
    height: 120px;
    background: rgb(113, 183, 43);
}
footer .fot{
    color:#fff;
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: 600;
    text-shadow: 2px 3px 2px #777;
}

